.card-reader {
  width: 143px;
  height: 90px;
  padding: 10px;
  border: 1px solid #aaaaaa;
  display: inline-block;
}
.center {
  text-align: center;
}
.small-container {
  width: 200px;
  display: inline-block;
}
.big-container {
  width: 400px;
  display: inline-block;
}
.button-row button {
  width: 40px;
  height: 40px;
}
.button-row button:last-child {
  width: 80px;
}
