<div class="center">
  <div class="small-container">
    <h3>Amount</h3>
    <div>Please select an amount you wish to withdraw</div>
    <ul class="list-group">
      <li *ngFor="let amount of amountList" class="list-group-item">
        <a [routerLink]="['Withdraw', {amount:amount}]">{{amount}}</a>
      </li>
    </ul>
    <button (click)="goToCustomAmount()" class="btn btn-default">Custom amount</button>
  </div>
</div>
