<nav class="navbar navbar-default">
  <div class="container-fluid">    
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ATM</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a [routerLink]="['Welcome']">Abort</a>
      </li>
    </ul>
  </div>
</nav>
