<div class="center">
  <div class="small-container">
    <div *ngIf="!pinBeingVerified">
      <h2>Pin-code</h2>
      <div>Please enter your pin-code</div>
      <num-pad (onEnter)="onEnter($event)"></num-pad>
    </div>
    <div *ngIf="pinBeingVerified">
      <h3>Your pin code is being verified please wait</h3>
    </div>
  </div>
</div>
