<div class="center">
  <div class="big-container clearfix">
    <h2>Welcome</h2>
    <div *ngIf="!cardIsBeingVerified">
      <div>Please insert your card</div>
      <card-reader (cardInserted)="onCardInserted()"></card-reader>
      <div>*drag the card to the empty box</div>
    </div>
    <div *ngIf="cardIsBeingVerified">
      <h3>Please wait ... your card is being verified</h3>
    </div>
  </div>
</div>
