<div style="float: left; width: 153px">
  <img id="card" src="/images/credit-card.png" draggable="true" (dragstart)="drag($event)" width="143" height="90">
</div>
<div class="thumbnail card-reader" (drop)="drop($event)" (dragover)="allowDrop($event)">
</div>
