<div class="center">
  <div class="small-container">
    <h3>Custom amount</h3>
    <div>Please enter an amount you wish to withdraw</div>
    <num-pad (onEnter)="onEnter($event)"></num-pad>
    <hr>
    <a [routerLink]="['AmountList']" class="btn btn-default">Go back</a>
  </div>
</div>
