<input class="form-control" type="text" maxlength="4" [(ngModel)]="inputField" />
<div class="button-row" *ngFor="let buttonRow of numPad">
  <button *ngFor="let button of buttonRow" class="btn btn-default" (click)="onClick(button)">{{button}}</button>
</div>
